<div class="flex">
  <!-- Sidebar -->
  <div class="bg-gray-800 text-white h-screen w-64 flex-none">
    <!-- Contenido del sidebar aquí -->
    <app-sidebar></app-sidebar>
  </div>

  <!-- Navbar y Contenido Principal -->
  <div class="flex flex-col w-full">
    <!-- Navbar -->
    <div class="bg-gray-900 text-white">
      <!-- Contenido del navbar aquí -->
      <app-navbar></app-navbar>
    </div>

    <!-- Main Content -->
    <div class="main-content flex-grow">
      <!-- Contenedor para el contenido de la aplicación -->
      <div class="container mx-auto py-8 max-h-screen">

        <router-outlet>

          <!-- <app-container></app-container> -->
        </router-outlet>
      </div>
    </div>

    <!-- Footer -->
    <div class="bg-gray-900 text-white">
      <!-- Contenido del footer aquí -->
      <app-footer></app-footer>
    </div>
  </div>
</div>